#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h1.header-name {
  margin-bottom: 0.75rem;
}

ul.nav-list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

li {
  list-style: none;
}

a.navlink {
  font-size: 1.3rem;
}
