li.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

div.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img.card-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: #ffffff;
}

img.landscape {
  width: 100%;
}

img.potrait {
  height: 100%;
}

p.card-price {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 2rem;
  text-align: center;
}

div.quantity-input {
  display: flex;
  gap: 0.25rem;
}
